@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

    

#navbar
{
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 100;
    padding: .5rem 5rem;
    box-shadow:5px 5px 20px rgba(0,0,0,.5);
  
    background:linear-gradient(to right,#3f5efb,#fc466b);
}
.navbar-brand
{
font-size: 35px;
font-weight: 800;
color: white!important;

}


#navbarSupportedContent a:hover
{
    border-bottom: 2px solid white; 
}

section
{
    margin-left: 3%;
    margin-top: 10%;
    
}
